####################################################################################################
#                                            IMPORTANT                                             #
####################################################################################################
# Don't commit the .env file to source control
# Make sure .env is in your .gitignore file
# Only use .env files for development purposes

PEONY_DEBUG=true
PEONY_EMAIL=info@peony.com
PEONY_PASSWORD=very-secret-password
# PEONY_PORT=8080
# PEONY_CACHE_DURATION=1800
PEONY_SESSION_SECRET=testSessionSecret
# PEONY_SESSION_REFRESH_EXPIRE=false
# PEONY_SESSION_NAME=Session
# PEONY_SESSION_MAX_AGE=43200
# PEONY_SESSION_ADMIN_PREFIX=Admin
PEONY_FIREBIRD_URL=firebird://user:password@localhost:3050/var/lib/firebird/data/firebird.fdb
PEONY_REDICT_URL=redict://user:password@localhost:6379/0
#PEONY_ADMIN_URL=http://localhost:8081
#PEONY_STORE_URL=http://localhost:8082
#PEONY_BLOBLY_URL=localhost:

####################################################################################################
#                                              INFO                                                #
####################################################################################################

# All the default settings are contained by add_default_settings in src/config/peony_settings.v

# Inline comments are not supported.
# String substitution is not supported.
# Multiline values are not supported.

# The variables PEONY_DEBUG, PEONY_SESSION_REFRESH_EXPIRE must match any of the following values:
# 1
# t
# T
# TRUE
# true
# True
# 0
# f
# F
# FALSE
# false
# False

# When PEONY_DEBUG is true:
# - More information will be available in the console

# PEONY_EMAIL and PEONY_PASSWORD are always required. They're used to create the admin for the first 
# time. You can and should change them using the API afterwards.

# PEONY_FIREBIRD_URL must be a firebird connection string

# PEONY_REDICT_URL must be a redict connection string

# PEONY_SESSION_SECRET is the string used to sign peony sessions. This should be a long random character 
# string. It should not be simple for humans to remember. redict can generate these with the command:
# redict ACL GENPASS 512
# Note: use the -a option to provide a password if you have set it in redict.conf
# Note: changing the value of PEONY_SESSION_SECRET will invalidate all existing sessions. All customers 
# and users will be logged out.

# peony uses 2 custom HTTP headers to authenticate users and customers:
# The admin header is built with PEONY_APP_NAME, PEONY_SESSION_ADMIN_PREFIX and PEONY_SESSION_NAME.
# The customer header is build with PEONY_APP_NAME and PEONY_SESSION_NAME.
# PEONY_SESSION_NAME is used by the sessions package to identify the session data stored in redict, 
# Changing the value of PEONY_SESSION_NAME will invalidate all existing sessions. All customers and 
# users will be logged out.
# PEONY_SESSION_MAX_AGE is the lifespan in seconds of the token.

# PEONY_SESSION_REFRESH_EXPIRE will refresh the session expiration time on each request when true. On 
# false, session duration will only be refreshed when session data is changed.
